<div>
    <iframe width="100%" height="300" [src]="video.url | safe">
    </iframe>
</div>
<div>
    <form>  
        <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{video.title}}</h3>     
        <div *ngIf="editTitle" class="form-group">
            <input type="input" class="form-control" name="title" required placeholder="title"
            [(ngModel)]="video.title">
        </div>
        <div class="form-group">
            <input type="input" class="form-control" name="url" required placeholder="url"
            [(ngModel)]="video.url">
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="5" name="desc" [(ngModel)]="video.description">
            </textarea>
        </div> 
        <button type="button" (click)="updateVideo()" class="btn btn-primary">Update</button>  
        <button type="button" (click)="deleteVideo()" class="btn btn-danger">Delete</button>    
    </form>
</div>