<div class="row">
	<div class="col-sm-9">
		<div *ngIf="!hidenewVideo">
			<h2>New Video</h2>
			<form #form="ngForm" (ngSubmit)="onSubmitAddVideo(form.value)" class="well">
				<div class="form-group">
					<label>Title</label>
					<input type="text" class="form-control" required name="title" ngModel>
				</div>
				<div class="form-group">
					<label>Url</label>
					<input type="text" class="form-control" required name="url" ngModel>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" class="form-control" name="description" ngModel>
				</div>
				<button type="submit" class="btn btn-success">Save</button>
			</form>
		</div>
		<video-detail *ngIf="selectedVideo && hidenewVideo" 
		(updateVideoEvent)="onUpdateVideoEvent($event)" 
		(deleteVideoEvent)="onDeleteVideoEvent($event)"
		 [video]="selectedVideo">
		</video-detail>
	</div>
	<div class="col-sm-3">
		<button style="margin-bottom:2px;" type="button" (click)="newVideo()" class="btn btn-success btn-block">+ New Video</button>
		<video-list [videos]="videos" (SelectVideo)="onSelectVideo($event)"></video-list>
	</div>
</div>